@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Poppins:wght@400;500&display=swap');
:root {
    --maintheme: #0b3d2e;
    --nav: #0b3d2e;
    --background: #f2f2f2;
    --heading: #0b3d2e;
    --theme: #cfe8ff;
    scroll-behavior: smooth
}

body {
    background-color: var(--maintheme);
    color: rgb(0, 0, 0);
   font-family: "Poppins", sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

* {
    box-sizing: border-box;
}

.gigacontainer {
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container {
    width: 100%;
    max-width: 900px;
    background-color: inherit;
    padding: 10px 10px 40px 10px;
    margin: 0 auto;
}

.full_height {
    max-height: 100%;
    background-color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.image_header {
    max-height: 85px;
    max-width: 100%;
    padding: 10px, 10px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 1em;
    font-size: 2.2em;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 1em;
    font-size: 1.8em;
   font-family: "League Spartan", sans-serif;
    font-weight: 600;
}

h3 {
    text-align: center;
    margin: 0;
    padding: 1em;
    font-size: 1.3em;
    font-family: "League Spartan", sans-serif;
font-weight: 600;
}

h4 {
    text-align: center;
    margin: 0;
    padding: 1em;
    font-size: 1.1em;
   font-family: "League Spartan", sans-serif;
font-weight: 600;
}

p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
}

.space {
    padding: 20px;
}


.gallery {
    width: 100%;
    text-align: center;
}


.gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
}

.gallery-wrapper2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
}

.gallery-wrapper-foot {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 20px;
}

.grid h1 {
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia Pro Black', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.logoimg {
    padding: 10%; 
    display: flex; 
    align-items: center;
}

.logocontainer{
    display: flex ;
    align-items: center; 
    height: 100%; 
    background-color: white; 
    padding: 10%;
}

.desc {
    padding: 15px;
}

.desc li:not(:last-child) {
    margin-bottom: 10px;
}

.groupimg {
    font-size: 0;
    padding: 0;
    text-align: center;
}

.high {
    height: 22em;
}

.low {
    height: 7em;
}

.centerp {
    text-align: center;
}


.googleCalendar {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 500px;
    /* border: 1px solid #ccc; */
    /* filter: saturate(1000%); */
    /* filter: invert(100%) sepia() saturate(10000%) hue-rotate(0deg); */
}

.googleCalendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.heading {
    background-color: var(--heading);
}

.theme {
    background-color: var(--theme);
}

footer {
    background-color: var(--maintheme);
    color: white;
    text-align: center;
    padding: 10px;
}

footer img {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer a {
    width: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer a.img {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.counter {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90vw;
    height: 100%;
    min-height: 140px;
    display: flex;
    flex-wrap: wrap;
}

.countdown-timestamp {
    display: none;
}

.counter-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    display: flex;
}

.number {
    margin-bottom: 15px;
    font-size: 34px;
    line-height: 1;
}

.counter-text {
    letter-spacing: 1px;
    text-transform: uppercase;
}


@media screen and (max-width: 900px) {

    .gallery-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .gallery-wrapper2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .box {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .box img {
        order: -1;
        /* width: 355px;
        height: 236.66px; */
        object-fit: cover;
    }

    .box .groupimg {
        order: -1;
    }

    .low {
        height: 8em;
    }

    .high {
        height: 23em;
    }

    footer .gallery-wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }



}

#SchedulePageContainer {
    width : 100%;
    height : 180vh;
}

#SchedulePageContainer_small {
    width : 100%;
    height : 180vh;
}

#ScheduleContainerBox {
    height : 90%;
    max-width : 80vw;
    margin : 0 auto;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#ScheduleContainerBox_small{
    height : 90%;
    max-width : 80vw;
    margin : 0 auto;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#timeStampsColumn {
    width : 64px;
    display : flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.timeStampRow {
    flex-grow: 1;
    display : flex;
    justify-content : center;
    flex-direction : column;
    color : black;
    vertical-align: middle;
}
.timeStampRow > h4 {
    margin : 0;
    padding : 0;
    text-align: left;
    font-size : 1.5vh;
}

.timeStampRow_small {
    flex-grow: 1;
    display : flex;
    justify-content : center;
    flex-direction : column;
    color : black;
    vertical-align: middle;
}

.timeStampRow_small > h4 {
    margin : 0;
    padding : 0;
    text-align: left;
    font-size : 1.5vh;
}

.dayColumn {
    flex-grow: 2;
    display : flex;
    flex-direction: column;
    justify-content : space-evenly;
}

.dayColumn_small {
    flex-grow: 2;
    display : flex;
    flex-direction: column;
    justify-content : space-evenly;
}

.dayColumn_big {
    flex-grow: 2;
    display : flex;
    flex-direction: column;
    justify-content : space-evenly;
}

.dayColumnHeader {
    height : 6vh;
    line-height : 4vh;
    font-size : 2vh;
    text-align : center;
    color : black;
    border-radius: 5px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom : 15px;
}

.dayColumnHeader_small{
    height : 6vh;
    line-height : 4vh;
    font-size : 2vh;
    text-align : center;
    color : black;
    border-radius: 5px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom : 15px;
}

.dayColumnBlockContainer {
    position : relative;
    width : 100%;
    flex-grow : 1;
}

.dayDivider {
    width : 5px;
    box-shadow : 0 0 -10px #509350a0;
}
.hourDivider {
    z-index : 0;
    background : black;
    position : absolute;
    left : -2.5px;
    right : -2.5px;
    height : 1px;
    color: black;
}

.timeBlock {
    z-index: 5;
    position : absolute;
    display : flex;
    flex-direction : column;
    justify-content : center;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius : 5px;
    /* color: rgb(239, 255, 239); */
}
.timeBlock:nth-of-type(2n+1) {
    color : black;
    background-color : #189BCC;
    box-shadow : 0 0 3px #189BCCa0;
}
.timeBlock:nth-of-type(2n+1).active {
    background-color : #189BCC;
    box-shadow : 0 0 3px #189BCCf0;
}
.timeBlock:nth-of-type(2n) {
    color : #000000;
    background-color : #9EC4EA;
    box-shadow : 0 0 3px #9EC4EAa0;
}
.timeBlock:nth-of-type(2n).active {
    background-color : #9EC4EA;
    box-shadow : 0 0 3px #9EC4EA;
}
.timeBlock:not(.active):hover {
    filter: brightness(1.2);
}

.timeBlock > h3, .timeBlock > h4, .timeBlock > p {
    padding-left: 3%;
    padding-right: 3%;
    /* margin-block: 0; */
    line-break: normal;
}
.timeBlock > h3 {
    line-height: 100%;
    font-size: 80%;
}
.timeBlock > h4 {
    display: none;
    line-height: 100%;
    font-size: 80%;
}
.timeBlock > p {
    display: none;
    line-height: 100%;
    font-size: 60%;
}
.timeBlock.active {
    bottom : auto !important;
    height : auto !important;
    z-index : 10;
    filter : opacity(10.0);
}
.timeBlock.active > h4 {
    display: block;
}
.timeBlock.active > p {
    display: block;
}

p.info {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.top-tabs {
    padding-top: 5px;
    display: flex;
    white-space: nowrap;
    justify-content: space-evenly;
    font-size: 2rem;
    margin: 5px 0 1.5rem;
    padding-top: 5px;
    line-height: 1;
}

.navbar-coloring {
    background-color: var(--heading);
    width: 100%;
}

.inner-column {
    width: 60%;
    margin: auto;
}

.top-tabs {
    padding-top: 5px;
    display: flex;
    white-space: nowrap;
    justify-content: space-evenly;
    font-size: 2rem;
    margin: 5px 0 1.5rem;
    padding-top: 5px;
    line-height: 1;
}

nav {
    overflow: hidden;
    margin-top: -5px;
    font-family: var(--text-font);
    font-variant-ligatures: none;
    font-feature-settings: "lnum";
    font-weight: medium;
}

.top-tabs a {
    display: inline-flex;
    position: relative;
    padding: 6px 0 10px;
    text-decoration: none;
    align-items: center;
    color: var(--heading-text-color);
}

.navbar_big {
    order: -1;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    position: relative;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, .3);
}

.container.nav-container {
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 0px 20px;
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

nav li {
    height: 100%;
    align-items: center;
    display: flex;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 24px 24px;
    text-decoration: none;
}

@media screen and (max-width: 960px) and (any-hover: hover) {
    .tray:not(:hover) {
        transform: translateY(-100%);
    }
}

@media screen and (max-width: 960px) {
    .tray {
        display: flex;
        justify-content: space-between;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        transform: translateY(calc(5px - 100%));
        transition: transform .1s;
        z-index: 900;
    }

    .tray div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        z-index: 0;
    }

    .top-tabs {
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        font-size: calc((960px - 100vw) / 16 + 20px);
    }

    .tray:before {
        content: "";
        text-align: center;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -100vh;
        bottom: 0;
        padding-top: 90vh;
        background-color: var(--tray-bg-color);
        color: var(--tray-text-color);
    }

    .tray:after {
        content: "\2630";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: -10px;
        padding-top: 10px;
        height: 64px;
        cursor: grab;
        color: black;
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        background-color: var(--heading);
        background-size: 100% 48px;
        background-repeat: no-repeat;
        background-origin: content-box;
    }

    .gigacontainer{
        margin-top: 50px;
    }

    .top-tabs a{
        width: 100%;
        justify-content: center;
        font-size: 15px;
    }

    .navbar_big {
        display: none;
    }

    .container.nav-container {
        display: none;
    }

    nav ul {
        display: none;
    }

    nav li a {
        display: none;
    }

    nav a {
        display: none;
    }

    .dayColumn_big {
        display: none;
    }


}

@media screen and (min-width: 960px) {
    .small_screen {
        display: none;
    }
    .dayColumnHeader_small {
        display: none;
    }
    .timeStampRow_small {
        display: none;
    }
    .dayColumn_small {
        display: none;
    }
    #ScheduleContainerBox_small{
        display: none;
    }

    #SchedulePageContainer_small {
        display: none;
    }
}
